html, body {
	height: 100%;
}

body { 
  color: #f4f0f0;
  /*font-family: 'PT Serif', serif;*/
} 


/*navbar*/
.navbar-light {
	background-color: #ffffff17;
}
/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: black;
}
/*navbar color except brand*/
.navbar-light .navbar-nav .nav-link {
    color: #9c9c9cc9;
}

/*home*/
#home {
	background-color: #333333;
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
	text-align: center;
	padding-top: 280px;
	padding-bottom: 280px;
}

#lang {
	background-color: white;
	padding-top: 100px;
	padding-bottom: 100px;
	color: black;
	text-align: center;
}
#progress-bars {
	width: 400px;
	height: 500px;
	background-color: #ffffff;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #a3c9ba;
    box-shadow: 0px 0px 0px 10px #ffffff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 40px 40px 40px;
    margin-left: 100px;
}

.progress {
	margin-top: 25px;
	height: 30px;
}

.row {
	margin: 0;
	padding: 0;
}

#projects {
	background-color: #333333;
	padding-top: 280px;
	padding-bottom: 280px;
}

.grid-container {
	display: grid;
	grid-template-columns: 100%;
}

