body { 
  /*background: url(https://dl.dropbox.com/s/2gw9rs7l0gk0mk1/bg.jpg?dl=0) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  text-align: center;
  color: #f4f0f0;
  font-family: 'PT Serif', serif;
} 

/* For width smaller than 600px: */
body {
    background-repeat: no-repeat;
    background-image: url('https://dl.dropbox.com/s/i86v0x2oyc8cd9p/medium.jpg?dl=0'); 
}

#home {
  padding-top: 150px;
  padding-bottom: 130px;
}

/* For width 600px and larger: */
@media only screen and (min-device-width: 600px) {
    body { 
      background: url(https://dl.dropbox.com/s/i86v0x2oyc8cd9p/medium.jpg?dl=0) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
    }

    #home {
      padding-top: 330px;
      padding-bottom: 270px;
    }
}

#scrolly {
  width: 98%;
  height: 400px;
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap;
}

img {
  height: 380px;
  margin-right: 20px;
  margin-left: 10px;
  display: inline;
}


.navbar-inverse {
  border-color: #080808;
  padding: 10px 10px;
  background: #ffffff;
  text-transform: uppercase;
}

.navbar-inverse .navbar-brand {
    color: #adaaaa;
}

#portfolio {
  background-color: #8f8d86c9;
}

#question {
  padding: 100px 0 25px 0;
}

p { 
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

#about {
  background: white;
  padding: 100px 0 100px 0;
  margin-top: 20px;
  color: #9f9e9e;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
}

#aboutImage {
  padding-top: 0;
}

p:first-of-type {
  padding-top: 20px;
}

a:hover { 
  color: black !important; 
}

.navbar-toggle {
    background-color: #646f6f;
}

.row { 
  margin: 0; 
  padding: 0 
}