/* CSS Variables */
:root {
    --dark: #001;
    --light: #E5E5E5;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
    color: var(--dark);
}

body {
    margin: 0;
    line-height: 1.4;
    text-align: center;
    font-size: 18px;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-top: 2.9rem; 
}

hr {
    width: 50%;
    margin-bottom: 3rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Main navigation */
.main-navigation {
    padding: 5% 5% 5% 5%;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;  /* to stop main-navigation from jumping */
    background-color: var(--light);
}

.picture-name img {
    border-radius: 50%;
    
}

.picture-name h1 {
    font-family: 'lato';
    text-transform: uppercase;
    font-size: 1.5rem;
}

.main-nav ul {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 0;  
}

.main-nav ul li {
    padding-bottom: 1rem; 
    font-size: 1.3rem;
}

.main-nav a, a {
    text-decoration: none;
    color: var(--dark)
}

.social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    width: 70%;
    padding-left: 15%;
}

/* .social a {
    padding-left: 20px; 
} */

.fa-twitter , .fa-linkedin {
    color: #1da1f2;
}


/* Main section */
.main-section {
    background: #FFFCF7;
    color: var(--dark);
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project {
    margin-bottom: 30px;
}


.img {
    /*grid-area: img;*/
    box-shadow: var(--shadow);
    text-decoration: none;
    display: inline-block;
}

figure img {
    max-height: 220px;
    display: block;
}

.git-btn {
    width: 140px;
    height: 45px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #101935;
    border-radius: 45px;
    border: none;
    box-shadow: 0px 15px 20px rgba(16, 25, 53, 0.4);
}

.git-btn a{
    color: #fff;
}


/*Experience*/
.experiences {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* About */

.about p {
    padding-left: 10%;
    padding-right: 10%;
}

/* Footer */
footer {
    background-color: var(--dark);
    color: var(--light);
    margin-top: 100px;
    line-height: 100px;
}

footer p {  /* remove white space under footer */
    margin-bottom: 0; 
}

/* Media Queries */
@media (max-width: 1000px) {
    .main-navigation {    /* to stop main-navigation from jumping */
        box-sizing: border-box;
    } 

    .picture-name img {
        width: 70%;
    } 

    h1 {
        font-size: 1.8rem;
    }    
}

@media (max-width: 600px) {
    .main-navigation {    /* to stop main-navigation from jumping */
        box-sizing: border-box;
    } 

    .wrapper {
        display: grid;
        grid-template-areas: 
        'main-navigation main-navigation'
        'main-section main-section'; 
    }

    .main-navigation {
        grid-area: main-navigation;
        position: relative;
        padding-bottom: 3rem;
        height: auto;
    }

    .main-section {
        grid-area: main-section;
        padding-top: 2rem;
    }

    .picture-name img {
        width: 40%;
    } 
    
    h2 {
        padding-top: 0; 
    }

    .projects {
        padding-top: 2rem;
    }

}
